html{
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}


*::before,
*::after {
    box-sizing: inherit;
}

body{
    margin: 2rem;
    background-image: linear-gradient(to right, rgba(115, 136, 121, 0.747), rgba(15, 80, 90, 0.8));


}

h1,h2{
    padding: 10px;
}
.content{
    width: 700px;
    height: 800px;
    margin:  auto;
}
.card {
    position: relative;
    width: 600px;
    height: 300px;

    transform-style: preserve-3d;
    transition: transform 0.8s;
    cursor: pointer;
}

.card.flipped {
    transform: rotateY(180deg);
}


.card-face {
    position: absolute;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 3px solid black;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,.5);

    backface-visibility: hidden;
    font-size: x-large;
}

.front {
    background: white;
}

.back {
    /* background: aqua; */
    transform: rotateY(180deg);
    background: white;
}

.navigate-cards{
    width: 600px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 10px;
}

.bi{
    font-size: 2.5rem;
    /* padding: 10px; */
    cursor: pointer;

}

.bi.gray{
    color:gray;
    cursor: not-allowed;
}

.navigate-cards p{
    font-size: 1.5rem;
}

.card p{
     width: 90%;
    margin: 0;
    text-align: center;
}